<html>
  <head>
    <meta charset="utf-8" />
    <meta
      content="width=device-width,initial-scale=1,minimal-ui"
      name="viewport"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/vue-material/dist/vue-material.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/vue-material/dist/theme/default.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <body>
    <div id="card">
      <md-toolbar class="md-primary">
        <h3 class="md-title">{{ title }}</h3>
      </md-toolbar>
      <md-content>
        <md-card>
          <md-card-header>
            <md-card-header-text>
              <md-field>
                <label>Hero name</label>
                <md-input v-model="newHero"></md-input>
              </md-field>
            </md-card-header-text>
          </md-card-header>
          <md-card-content>
            <md-field>
              <label>Hero description</label>
              <md-textarea v-model="newHeroDesc"></md-textarea>
            </md-field>
          </md-card-content>
          <md-card-actions>
            <md-button v-on:click="addHero">Add Hero</md-button>
          </md-card-actions>
        </md-card>

        <md-card md-with-hover v-for="(hero, index) in heroes">
          <md-card-header>
            <md-card-header-text>
              <div class="md-title">{{ hero.title | capitalize }}</div>
            </md-card-header-text>
          </md-card-header>
          <md-card-content>
            {{ hero.desc | capitalize }}
            <br />
            <a v-bind:href="`${hero.title} ${hero.desc}` | url" target="_blank">
              Learn more about on Google.
            </a>
          </md-card-content>
          <md-card-actions>
            <md-button class="md-accent" v-on:click="deleteHero"
              >Delete</md-button
            >
          </md-card-actions>
        </md-card>
      </md-content>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>
    <script src="script.js"></script>
  </body>
</html>
